


<h2>Watchlist</h2>

<div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th></th>
          <th class="table-head">Address</th>
          <th class="table-head">Price</th>
          <th class="table-head">Size</th>
          <th class="table-head">Status</th>
          <th class="table-head">Realtor</th>
          <th class="table-head">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center">
              <div class="avatar">
                <div class="house-col">
                    <img class="list-img" src="assets/testhouse.jpg" alt="" />
                </div>
              </div>
            </div>
          </td>
          <td class="table-data">123 Main St Circle, Chicago, IL 45678</td>
          <td class="table-data">$98,000</td>
          <td class="table-data">1,333 sq ft</td>
          <td class="table-data">For Sale</td>
          <td class="table-data">Coldwell Banker</td>
          <td class="table-data">edit delete</td>
        </tr>
          
 
     
 
          








    <!-- Address Column -->
  <!-- <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container> -->





  
  