/* body {
  overflow: hidden;
}

.card-img-top{
  height: 250px;
  width: 367px;

}

 .card {
  height: 230px;
  width: 368px;  
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5); 


}  

.card-body{

  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
 
}


.custom-rounded-bottom {
  border-radius: 0 0 8px 8px;
}

.custom-button {
  margin-top: 1em;
}
.custom-button:hover {
  background-color: #20b646;
  color: #fff;
  border-color: #20b646;
}


.card-body h4,
.card-body p,
.card-body h6 {
  line-height: 0.7; 
}

.card-text-size{
  margin-top: 1em;
} */






 


