<!-- Bootstrap card components --> 


<!-- 
  <div class="row">
    <div class="col-sm-3"> 
      <div class="card custom-border">
        <img class="card-img-top" [src]="housingLocation.photo" alt="Exterior photo">
        <div class="card-body custom-rounded-bottom">
          <h4 class="card-text">{{ housingLocation.salePrice }}</h4>
          <p class="card-text-size">{{ housingLocation.size }} </p>
          <p class="card-text">{{ housingLocation.address }},  {{ housingLocation.city }}, {{ housingLocation.state }}</p>
          <h6>{{ housingLocation.realtor }} </h6>
          <button type="button" class="btn btn-primary custom-button"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Add to Watch List
          </button>
        </div>
      </div>
    </div>
  
  </div> -->


  
  
  
  
