

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="assets/logo.png"  width="240" height="40" class="d-inline-block align-text-top">
   
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Watch List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    WatchLists
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>








<!-- passing each location item into the housing-location component.html -->
<div class="row justify-content-center">
  <ng-container *ngFor="let housingLocation of housingLocationList; let i = index">
    <div class="col-lg-3 col-md-6">
      <div class="card custom-border custom-card-spacing mx-auto"> 
        <img class="card-img-top" [src]="housingLocation.photo" alt="Exterior photo of {{ housingLocation.address }}">
        <div class="card-body custom-rounded-bottom">
          <h4 class="card-text">{{ housingLocation.salePrice }}</h4>
          <p class="card-text-size">{{ housingLocation.size }}</p>
          <p class="card-text">{{ housingLocation.address }}, {{ housingLocation.city }}, {{ housingLocation.state }}</p>
          <h6>{{ housingLocation.realtor }}</h6>
          <a href="#">Details</a>

  <button type="button" class="btn btn-primary custom-button"
          style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem; margin-left: 17px;">
            Add to Watch List
  </button>
        </div>
      </div>
    </div>
 
    <div class="w-100 d-none d-lg-block" *ngIf="(i + 1) % 3 === 0"></div>
  </ng-container>
</div>


<ng-template #modalContent let-modal>
  <!-- Modal content goes here -->
  <div class="modal-header">
    <h4 class="modal-title">Details</h4>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Add the details you want to display in the modal here -->
    <!-- For example: housingLocation.address, housingLocation.size, etc. -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
